header {
    position: relative;
    z-index: 50;
  
    nav a {
      font-weight: 500;
      transition: color 0.3s ease-in-out;
    }
  
    button {
      font-size: 24px;
      cursor: pointer;
    }
  }
  